/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto+Slab:wght@100..900&display=swap');


/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    color: white;
}

body {
    background-color: rgb(17, 17, 17);
    background-size: cover;
    background-attachment: fixed;
}

li, a, button {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    list-style: none;
}


/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 30px;
    background-color: rgba(0, 0, 0, 0.6);
}

.logo {
    margin-right: auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

.navbar {
    display: flex;
    gap: 20px;
}
.nav-links {
    display: inline-block;
    gap: 20px;
    padding: 0px 20px;
}
.nav-links li {
    display: inline-block;
    margin: 0 10px;
}
.nav-links li a {
    padding: 8px 10px;
    border-radius: 4px;
}
.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: underline;
    transition: background-color, text-decoration 0.3s ease;
}

/* main content styles */

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap : 10px;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
}
.content-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap : 10px;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    text-align: center;
}
.content-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    text-align: center;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    border-radius: 8px;
    box-sizing: border-box;
}
.content-contact input, .content-contact textarea {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
}
.content-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap : 10px;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    text-align: center;
}

.intro {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: white 2px solid;
}

/* Work Experience styles */
.work-experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    overflow: visible;
}
.work-experience article {
    padding: 20px;
}

.work-experience article + article {
    margin-top: 20px;
}

.work-experience a {
    color: #00aced;
    text-decoration: none;
    gap: 20px;
}

.work-experience a:hover {
    text-decoration: underline;
}
/* The Work Experience section ends here */

/* Article styles */
article {
    flex: 1; /* This way, each article takes equal space */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
article h2 {
    margin-bottom: 12px;
    font-size: 24px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
article p {
    font-size: 16px;
    line-height: 1.6;
}

/* Testimonial styles */
.testimonials {
    grid-column: 1 / -1; /* Span full width */
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}   
.testimonials .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.testimonials .review p {
    font-style: italic;
    margin-bottom: 5px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
/* Responsive style for smaller screens */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}
